<html>
    <head>
        <title>Lic-forgot Password</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/FontAwesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
    <body>
        <div class="container-fluid">
            <div class="row mt-5">
                
                <div class="col-md-4 mx-auto shadow shadow-lg p-5">

                    <h1 class="display-1 text-center mb-2">
                        <i class="fa fa-user"></i>
                    </h1>
                    <h3 class="text-center mb-2">Forgot Password</h3>
                    <h6 class="text-center mb-4 text-grey">Enter your registered email</h6>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      
                      <input type="submit" value="Get link" class="form-control text-white mb-3 " style="background-color: rgb(196, 107, 122) ;">
                      <h6 class="text-center"><a href="{% url 'login_user' %}">Sign in</a></h6>



                </div>

            </div>

        </div>
        

    </body>
</html>