{% extends 'admin_base.html' %}
{%load static%}

{% block admin_base %}
<div class="col-md-10 mx-auto mt-5 shadow shadow-lg py-3">
    <span> <a href="" class="text-dark">Home/</a> </span><span><a class="text-dark" href="">Headline/</a></span><span> <a class="text-dark" href="">List</a></span>

</div>
<div class="col-md-10 card mx-auto mt-5 shadow shadow-lg">
   
    
    
    <!-- table  satart    -->
    <div class="row">
        <div class="col-md-12">
            
            
            <div class="row">
                <div class="col-md-12 py-3">
                    <div class="container">
                        <table class="table table-fluid  id="myTable">
                        <thead>
                        <tr><th>Sr.num</th>
                            <th>Headline</th>
                            <th>Status</th>
                            <th>Date/Time</th>
                            
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td>1</td>
                            <td>Kanada</td>
                            <td><img height="50" width="50" src="https://images.unsplash.com/photo-1588774069410-84ae30757c8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80" alt=""></td>
                            <td><span class="bg-success text-white px-3 rounded py-1">Active</span></td>
                            <td><h4><a href="" data-toggle="modal" data-target="#exampleModal1"><i class="fa fa-edit" ></i></a></h4></td>
                            
    
                        </tr>
                        
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div> 
</div>
    <!-- table end  -->
        <!-- modal for edit  -->
        <div class="col-md-12 mt-5">
            <div class="modal fade" id="exampleModal1"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content  p-0 m-0" >
                        <div class="row" style=" background-color: transparent !important;border: none;">
                            <div class="col-md-1 mx-auto">
                                <button  data-dismiss="modal"  class="close" type="button"  >
                                    <span aria-hidden="true" style="color: red; font-size:62px;">x</span>
                                    
                                </button>
    
                            </div>
    
                        </div>
                       
                        <div class="modal-body p-0 m-0">
                            <div class="row">
                                <div class="col-md-10 p-3 mx-auto">
                                    <form action="">
                                        <label for="">Headline</label>
                                        <input type="text" class="form-control" placeholder=" Enter headline here " >
                                        
                                        <input type="checkbox" id="vehicle1" class="form-conrol mt-4" name="vehicle1" value="Bike">
                                        <label for="vehicle1"> Active</label><br>
                                        <input type="submit" value="Add" class="form-control btn btn-success mb-5 mt-3">
                                        
                                    </form>
    
                                </div>
    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
              </div>
    
        </div>
        <!-- modal end  -->
    
        
    
    </div>

{%endblock%}