{% extends 'admin_base.html' %}
{%load static%}

{% block admin_base %}
<div class="col-md-10 mx-auto mt-5 shadow shadow-lg py-3">
    <span> <a href="" class="text-dark">Home/</a> </span><span><a class="text-dark" href="">Publication House/</a></span><span> <a class="text-dark" href="">List</a></span>

</div>
<div class="col-md-10 card mx-auto mt-5 shadow shadow-lg">
    <div class="row">
        <div class="col-md-12">
            <h6><a href="" class="btn btn-primary mt-3" data-toggle="modal" data-target="#exampleModal">Add new</a></h6>
        </div>
    </div>
    <div >
        <!-- modal for add new -->
        <div class="col-md-12 mt-5">
            <div class="modal fade" id="exampleModal"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content  p-0 m-0" >
                        <div class="row" style=" background-color: transparent !important;border: none;">
                            <div class="col-md-1 mx-auto">
                                <button  data-dismiss="modal"  class="close" type="button"  >
                                    <span aria-hidden="true" style="color: red; font-size:62px;">x</span>
                                    
                                </button>
    
                            </div>
    
                        </div>
                       
                        <div class="modal-body p-0 m-0">
                            <div class="row">
                                <div class="col-md-10 p-3 mx-auto">
                                    <form action="">
                                        <label for="" class="mt-3">Name</label>
                                        <input type="text" class="form-control" placeholder=" Enter Name here " >
                                        <label for="" class="mt-3">Url</label>
                                        <input type="text" class="form-control" placeholder=" Enter Name here " >
                                        <label for="" class="mt-3">District</label>
                                        <input type="text" class="form-control" placeholder=" Enter Name here " >
                                        <label for="" class="mt-3">State</label>
                                        <select name="" id="" class="form-control">
                                            <option value="">Kanada</option>
                                            <option value="">English</option>
                                        </select>
                                        <label for="" class="mt-3">Image</label>
                                        <input type="file" class="form-control" placeholder="Add file" >
                                        <input type="checkbox" id="vehicle1" class="form-conrol mt-4" name="vehicle1" value="Bike">
                                        <label for="vehicle1"> Active</label><br>
                                        <input type="submit" value="Add" class="form-control btn btn-success mb-5 mt-3">
                                        
                                    </form>
    
                                </div>
    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
              </div>
    
        </div>
        <!-- modal end  -->
    
    </div>
    <!-- table  satart    -->
    <div class="row">
        <div class="col-md-12">
            
            
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <table class="table table-fluid" id="myTable">
                        <thead>
                        <tr><th>Sr.num</th>
                            <th>Publication House </th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th>Company main purti</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr><td>1</td>
                            <td>Kanada</td>
                            <td><img height="50" width="50" src="https://images.unsplash.com/photo-1588774069410-84ae30757c8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80" alt=""></td>
                            <td><span class="bg-success text-white px-3 rounded py-1">Active</span></td>
                            <td><h4><a href=""><i class="fa fa-edit" ></i></a></h4></td>
                            <td><span> <h4><a href="" data-toggle="modal" data-target="#exampleModal1"><i class="far fa-file"></i></a></span>
                                <span> <a href=""data-toggle="modal" data-target="#exampleModald"><i class="fa fa-trash"></i></a></h4></span></h4></td>
    
                        </tr>
                        <tr><td>Samuel</td><td>samuel@gmail.com</td><td>Samuel</td><td>samuel@gmail.com</td><td>Pass1234</td><td>samuel@gmail.com</td></tr>
                        <tr><td>Jack</td><td>jack@gmail.com</td><td>Pass1234</td><td>Samuel</td><td>samuel@gmail.com</td><td>samuel@gmail.com</td></tr>
                        
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div> 
    <!-- table end  -->
        <!-- modal for edit new -->
        <div class="col-md-12 mt-5">
            <div class="modal fade" id="exampleModal1"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content  p-0 m-0" >
                        <div class="row" style=" background-color: transparent !important;border: none;">
                            <div class="col-md-1 mx-auto">
                                <button  data-dismiss="modal"  class="close" type="button"  >
                                    <span aria-hidden="true" style="color: red; font-size:62px;">x</span>
                                    
                                </button>
    
                            </div>
    
                        </div>
                       
                        <div class="modal-body p-0 m-0">
                            <div class="row">
                                <div class="col-md-10 p-3 mx-auto">
                                    <form action="">
                                        <label for="">Name</label>
                                        <input type="text" class="form-control" placeholder=" Enter Name here " >
                                        <label for="" class="mt-3">Image</label>
                                        <input type="file" class="form-control" placeholder="Add file">
                                        <input type="checkbox" id="vehicle1" class="form-conrol mt-4" name="vehicle1" value="Bike">
                                        <label for="vehicle1"> Active</label><br>
                                        <input type="submit" value="Add" class="form-control btn btn-success mb-5 mt-3">
                                        
                                    </form>
    
                                </div>
    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
              </div>
    
        </div>
        <!-- modal end  -->
    
        <!-- modal for delete -->
        <div class="col-md-12 mt-5">
            <div class="modal fade" id="exampleModald"  data-backdrop="static"  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                    <div class="modal-content  p-0 m-0" >
    
                       
                        <div class="modal-body p-0 m-0">
                            <div class="row">
                                <div class="col-md-10 p-3 mx-auto">
                                    <form action="">
                                        <h1>Do you really want to delete this ?</h1>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="submit" value="Delete" class=" btn btn-success mb-5 px-5 mt-3">
                                               </div> 
                                               <div class="col-md-6">
                                                <a href="" class="btn btn-danger  mb-5 mt-3 px-5 " > Cancel </a>
            
                                               </div>
                                                
    
                                        </div>
                                    </form>
    
    
                                </div>
    
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
              </div>
    
        </div>
        <!-- modal end  -->
    
    </div>
    <script>
        $(document).ready( function () {
        $('#myTable').DataTable();
    } );
        </script>
{%endblock%}